h1 {
    background-color: navy;
    color: white;
    margin: 0;
    padding: 30px;
    text-align: left;
}

ul {
    background-color: rgba(97, 155, 97, 0.855);
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
}
body {
    text-align: center;
}
h3 {
    text-align: right;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 450px;
    text-align: left;
    padding-left: 30px;
    margin-right: 10px;
}
div[id=events] {
    margin: 20px;
    border: 2px solid rgba(97, 155, 97, 0.855);
    margin-left: 300px;
    margin-right: 0px;
    text-decoration: underline;
}
a {
    color: white;
    background-color: navy;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration-line: none;
    margin: 20px;
    border-radius: 10px;
}
